@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat+Alternates:ital,wght@0,500;0,600;0,700;1,500&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


body{
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  user-select:none 
}
.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .glitch {
    position: relative;
    color: white;
    font-size: 9rem;
    font-weight: bold;
    text-transform: uppercase;
    animation: glitch 1s infinite linear alternate-reverse;
  }

  .glitch::before,
  .glitch::after {
    content: "404 Error";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
  }

  .glitch::before {
    left: 2px;
    text-shadow: -2px 0 red;
    clip: rect(24px, 550px, 90px, 0);
    animation: glitch-effect 1s infinite linear alternate-reverse;
  }

  .glitch::after {
    left: -2px;
    text-shadow: -2px 0 cyan;
    clip: rect(85px, 550px, 140px, 0);
    animation: glitch-effect 1.5s infinite linear alternate-reverse;
  }

  @keyframes glitch {
    0% {
      transform: skew(0deg);
    }
    50% {
      transform: skew(-5deg);
    }
    100% {
      transform: skew(5deg);
    }
  }

  @keyframes glitch-effect {
    0% {
      clip: rect(20px, 9999px, 50px, 0);
    }
    25% {
      clip: rect(85px, 9999px, 140px, 0);
    }
    50% {
      clip: rect(55px, 9999px, 100px, 0);
    }
    75% {
      clip: rect(30px, 9999px, 60px, 0);
    }
    100% {
      clip: rect(100px, 9999px, 150px, 0);
    }
  }
}